@import './mixins';

#about-header {
  @include grid-columns(2);
  padding-top: 3.5rem;
  padding-bottom: 5rem;
  &-right {
    @include grid-columns(2);
    .header-item {
      border: 1px solid var(--color-grey-5);
      border-radius: 5px;
      transition: var(--transition);
      box-shadow: 1px 2px 15px #0000001A;
      &:hover {
        transform: translateY(-5px);
        border: 1px solid var(--color-secondary);
        box-shadow: 1px 2px 15px #0000003A;
      }
      &-text {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        &-large {
          font-size: 3rem;
          font-weight: 700;
          color: var(--color-secondary);
        }
        &-small {
          padding-left: 3rem;
          position: relative;
          text-transform: uppercase;
          font-size: 1.2rem;
          color: var(--color-grey-1);
          letter-spacing: 2px;
          &:before {
            content: "";
            position: absolute;
            top: 15px;
            left: 0;
            width: 2rem;
            height: 2px;
            background-color: var(--color-grey-5);
          }
        }
      }
    }
  }
  &-left {
    padding-right: 5rem;
    h4 {
      font-size: 2rem;
      text-transform: uppercase;
    }
    p {
      line-height: 2rem;
      padding: 1rem;
      color: var(--color-grey-1);
    }
  }
}

#about-statistics {
  padding-bottom: 4rem;
  #statistics {
    @include grid-columns(2);
    .skill {
      display: flex;
      flex-direction: column;
      &-image { width: 40px; }
      &-container {
        display: flex;
        align-items: center;
        &-text { color: var(--color-grey-2); }
        &-indicator {
          width: 100%;
          height: .5rem;
          background-color: var(--color-grey-4);
          margin-left: 1rem;
          position: relative;
          span {
            @include absolute-top-left;
            height: 100%;
            background-color: var(--color-secondary);
          }
        }
      }
    }
  }
}

#about-timeline {
  padding-bottom: 3rem;
  #timeline {
    @include grid-columns(2);
    .timeline-item {
      position: relative;
      padding-left: 3rem;
      border-left: 1px solid var(--color-grey-5);
      &-icon {
        @include absolute-top;
        left: -27px;
        background-color: var(--color-secondary);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        @include flex-center;
        i { font-size: 1.3rem; }
      }
      &-duration {
        padding: .2rem .6rem;
        background-color: var(--color-grey-5);
        border-radius: 15px;
        display: inline-block;
        font-size: .8rem;
        text-transform: uppercase;
        font-weight: 500;
      }
      h5 {
        padding: 1rem 0;
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: 600;
        span {
          color: var(--color-grey-2);
          font-weight: 500;
          font-size: 1.2rem;
        }
      }
      &-content { color: var(--color-grey-2); }
    }
  }
}

.about-title {
  text-transform: uppercase;
  font-size: 1.4rem;
  text-align: center;
  padding: 3.5rem 0;
  position: relative;
  &::before {
    content: '';
    @include absolute-top;
    left: 50%;
    width: 40%;
    height: 1px;
    background-color: var(--color-grey-5);
    transform: translateX(-50%);
  }
}
