* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

@import './variables';
@import './mixins';

body {
    background-color: var(--color-primary);
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: var(--color-white);
    transition: all .4s ease-in-out;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

header {
    min-height: 100vh;
    color: var(--color-white);
    overflow: hidden;
    padding: 0 !important;
}

section.container {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}

.container {
    display: none;
    transform: translateY(-100%) scale(0);
    transition: all .4s ease-in-out;
    background-color: var(--color-primary);
}

.active {
    display: block;
    animation: appear 1s ease-in-out;
    transform: translateY(0) scaleY(1);
    @keyframes appear {
        0%{ transform: translateY(-100%) scaleY(0); }
        100%{ transform: translateY(0) scaleY(1); }
    }
}

@import './controls';
@import './header';
@import './components';
@import './about';
@import './portfolio';
@import './blog';
@import './contact';
@import './media';