* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

@import './variables';
@import './mixins';

body {
    background-color: var(--color-primary);
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: var(--color-white);
    transition: all .4s ease-in-out;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

header {
    min-height: 100vh;
    color: var(--color-white);
    overflow: hidden;
    padding: 0 !important;
}

section.container {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}

.container {
    display: none;
    transform: translateY(-100%) scale(0);
    transition: all .4s ease-in-out;
    background-color: var(--color-primary);
}

.active {
    display: block;
    animation: appear 1s ease-in-out;
    transform: translateY(0) scaleY(1);
    @keyframes appear {
        0%{ transform: translateY(-100%) scaleY(0); }
        100%{ transform: translateY(0) scaleY(1); }
    }
}

@import './controls';
@import './header';
@import './components';
@import './about';
@import './portfolio';

//Blogs Section
.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
    .blog {
        position: relative;
        background-color: var(--color-grey-5);
        border-radius: 5px;
        box-shadow: 1px 1px 20px rgba(0,0,0,.1);
        transition: all .4s ease-in-out;
        &:hover {
            box-shadow: 1px 1px 20px rgba(0,0,0,.3);
            transform: translateY(-5px);
            transition: all .4s ease-in-out;
            img {
                filter: grayscale(0);
                transform: scale(1.1);
                box-shadow: 0px 4px 15px rgba(0,0,0,0.8);
            }
        }
        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            filter: grayscale(100%);
            transition: all .4s ease-in-out;
        }
        .blog-text {
            margin-top: -7px;
            padding: 1.1rem;
            border-top: 8px solid var(--color-secondary);
            h4 {
                font-size: 1.5rem;
                margin-bottom: .7rem;
                transition: all .4s ease-in-out;
                cursor: pointer;
                &:hover { color: var(--color-secondary); }
            }
            p{
                color: var(--color-grey-2);
                line-height: 2rem;
                padding-bottom: 1rem;
            }
        }
    }
}


//Contact section
.contact-content-con {
    display: flex;
    padding-top: 3.5rem;
    .left-contact {
        flex: 2;
        h4 {
            margin-top: 1rem;
            font-size: 2rem;
            text-transform: uppercase;
        }
        p {
            margin: 1rem 0;
            line-height: 2rem;
        }

        .contact-info {
            .contact-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                p {
                    margin: .3rem 0 !important;
                    padding: 0 !important;
                }
                .icon {
                    display: grid;
                    grid-template-columns: 40px 1fr;
                    i {
                        display: flex;
                        align-items: center;
                        font-size: 1.3rem;
                    }
                }
            }
        }

        .contact-icon {
            display: flex;
            margin-top: 2rem;
            a {
                display: flex;
                align-items: center;
                color: var(--color-white);
                background-color: var(--color-grey-5);
                cursor: pointer;
                justify-content: center;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin: 0 .4rem;
                transition: all .4s ease-in-out;
                &:hover {
                    background-color: var(--color-secondary);
                    i { color: var(--color-primary); }
                }
                i {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.3rem;
                }
            }
        }
    }

    .right-contact {
        flex: 3;
        margin-left: 3rem;
        .input-control {
            margin: 1.5rem 0;
            input, textarea {
                border-radius: 30px;
                font-weight: inherit;
                font-size: inherit;
                font-family: inherit;
                padding: .8rem 1.1rem;
                outline: none;
                border: none;
                background-color: var(--color-grey-5);
                width: 100%;
                color: var(--color-white);
                resize: none;
            }
        }
        .i-c-2 {
            display: flex;
            :last-child{
                margin-left: 1.5rem;
            }
        }
        .submit-btn {
            display: flex;
            justify-content: flex-start;
        }
    }
}
@import './media';