@import '../mixins';

#header-content {
  width: 100%;
  @include grid-columns(2);
  height: 100vh;
  &-left {
    @include flex-center-vertical;
    position: relative;
    &-shape {
      transition: var(--transition);
      width: 65%;
      height: 100%;
      background-color: var(--color-secondary);
      @include absolute-top-left;
      z-index: -5;
      clip-path: polygon(0 0, 45% 0, 80% 100%, 0% 100%);
      @media screen and (max-width: 1200px){ display: none; }
    }
    &-image {
      border-radius: 15px;
      width: 70%;
      height: 90%;
      margin-left: 4rem;
      background-color: var(--color-black);
      transition: var(--transition);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: var(--transition);
        filter: grayscale(100%);
        &:hover { filter: grayscale(0%); }
      }
      @media screen and (max-width: 600px) {
        width: 90%;
        margin-inline: auto;
      }
    }
  }
  &-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 18rem;
    h1 {
      font-size: 2rem;
      span { color: var(--color-secondary); }
      @media screen and (max-width: 600px) { font-size: 2.5rem;}
    }
    p {
      margin: 1.5rem 0;
      line-height: 2rem;
    }
    @media screen and (max-width: 1200px) {
      grid-row: 1;
      width: 90%;
      margin: 2.5rem auto;
      padding : 0;
    }
  }
  @media screen and (max-width: 1200px){
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
    text-align: center;
    .cv { align-self: center;}
  }
}