.cv {
  display: flex;
  align-self: flex-start;
  &-link {
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    border: 1px solid var(--color-secondary);
    display: flex;
    align-self: flex-start;
    align-items: center;
    position: relative;
    overflow: hidden;
    &-text { padding: 0 2rem; }
    &-icon {
      background-color: var(--color-secondary);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      padding: 1rem;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      transform: translateX(100%);
      transition: var(--transition);
      background-color: var(--color-secondary);
      z-index: -5;
    }
    &:hover:before { transform: translateX(0); }
  }
}

.main-title {
  text-align: center;
  h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    span { color: var(--color-secondary); }
    .bg-text {
      position: absolute;
      top: 50%;
      left: 50%;
      color: var(--color-grey-5);
      transition: all .4s ease-in-out;
      z-index: -1;
      transform: translate(-50%, -50%);
      font-weight: 800;
      font-size: 6.3rem;
    }
  }
}
